.Bookmark {
  height: 50px;
  width: 80px;
  display: flex;
  justify-content: center;
  border: solid black 2px;
  align-items: center;
  background-color: white;
  border-radius: 10px;
}

.delete-bookmark-button {
  position: relative;
  bottom: 13px;
  right: 1px;
  border: solid 1px;
  border-radius: 10px;
}


