.card {
  border: solid black 2px;
  background-color: white;
  height: 100px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  position: relative;
}

.extend-card {
  @extend .card;
  height: 400px;
}

.prototype-text {
  color: red;
}

.bookmark-button {
  border: solid;
  border-radius: 25pc;
  background-color: aquamarine;
}