@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab');;

.card {
  border: solid black 4px;
  background-color: rgba(255,255,255, .85);
  height: 100px;
  width: 500px;
  margin: 60px 0 20px;
  position: relative;
  transition: all 0.2s linear;
  overflow: hidden;
  text-align: center;
  padding: 20px;
  border-radius: 25px;
  font-family: 'Roboto Slab', serif;
  overflow: scroll;
}

.card:hover {
  cursor: pointer;
  border-style: solid black 4px;
}

.extend-card {
  @extend .card;
  height: 300px;
}

.prototype-text {
  color: red;
}

.bookmark-button {
  border: solid black 2px;
  border-radius: 25pc;
  background-color: aquamarine;
}

.useCase-text,
.returnValue-text,
.maxNumberOfParameters,
.typeOfMethod {
  @extend .prototype-text
}