@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");

.App {
  background-image: url('./styles/images/background2.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

h1 {
  position: absolute;
  top: 40px;
  font-family: 'Permanent Marker', cursive;
  color: white;
  text-shadow: black 0px 0px 18px;
  font-size: 80px;
}
